@inherits LayoutComponentBase

<Layout Style="min-height: 100vh; ">
    <Header>Hello, Blazor!</Header>
    <Layout>
        <Sider>
            <NavMenu />

        </Sider>
        <Content>
            <div class="top-row px-4">
                <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
            </div>

            <div Style="padding: 50px;">
                @Body
            </div>
        </Content>
    </Layout>
    <Footer>Footer</Footer>
</Layout>